@import '~antd/dist/antd.css';

@import './dashboard.scss';
@import './form.scss';
@import './onboarding.scss';
@import './players.scss';
@import './headers.scss';
@import './team.scss';
@import './sidebar.scss';
@import './button.scss';
@import './conferenceStanding.scss';

body {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  height: 100vh;
}

.app__full-container {
  display: flex;
  width: 100vw;
}

.app__container {
  background-color: #f5f6fa;
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
}
