@import '~antd/dist/antd.css';

@import './dashboard.scss';
@import './form.scss';
@import './onboarding.scss';
@import './player.scss';
@import './headers.scss';
@import './team.scss';
@import './sidebar.scss';
@import './button.scss';
@import './conferenceStanding.scss';
@import './comparison.scss';

body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.app {
  display: flex;
}

.app__full-container {
  display: flex;
  width: 100vw;
}

.app__container {
  background-color: #f5f6fa;
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
}

.page__container {
  padding: 0 20px;
  margin-bottom: 20px;
}

.flex__full-width {
  display: flex;
  width: 100%;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column__center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-column__end {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.flex-column__start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
