// page.jsx
.cards__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.cards__wrapper {
  display: flex;
  width: 100%;
}

.card__margin-right {
  width: 100%;
  margin-right: 10px;
}

.card__margin-left {
  width: 100%;
  margin-left: 10px;
}

.flex {
  display: flex;
}

.player-card__container {
  width: 100%;
  margin-left: 25px;
}

.horizontal__padding {
  padding: 0 20px;
}

.player-stats__container {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.players__row {
  cursor: pointer;
}
