// Players
.player__row {
  display: flex;
}

// Search
.search__container {
  width: 100%;
  padding: 8px;
}

.search__form {
  display: flex;
  max-width: 400px;
}

.search__column {
  font-size: 13px;
}
