.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 180px;
}

.sidebar__logo {
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar__title {
  margin: 0;
  font-size: 16px;
  color: #000;
}

.sidebar__menu {
  margin-left: 12px;
}

.sidebar__menu-item {
  margin-bottom: 10px;
}
